In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

In [34]:
url = 'https://www.worldometers.info/coronavirus/'
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
_dict = {}

In [35]:
page = requests.get(url)
soup = BeautifulSoup(page.content)

In [36]:
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 237,125 Cases and 9,835 Deaths from COVID-19 Virus Outbreak - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, and death toll by country due to the COVID 19 coronavirus from Wuhan, China. Coronavirus counter with new cases, historical data, and info. Daily charts, graphs, news and updates" name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js">
  </script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <!-- FREESTAR BEGIN -->
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;


  freestar.config.enabled_slots = [



				    "worldometers_300x600_160x600_300x250_336x280_Right_2",
    "worldometers_728x90_970x90_320x50_Top",
	"worldometers_300x250_336x280_Bottom_1",
    "worldometers_728x90_970x90_300x250_Bottom_2"
  ];

  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
  <!-- FREESTAR END -->
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA wm old (info) -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <!-- GDPR consent -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        <span style="color:#FF9900; font-weight:bold">
         Coronavirus
        </span>
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- MAIN -->
  <div class="container">
   <!-- TOP AD -->
   <div class="row">
    <div style="margin-top:20px ">
     <!-- worldometers_728x90_970x90_320x50_Top -->
     <div id="worldometers_728x90_970x90_320x50_Top">
      <script data-cfasync="false" type="text/javascript">
       freestar.queue.push(function () { googletag.display('Worldometers_728x90_970x90_320x50_Top'); });
      </script>
     </div>
    </div>
    <br/>
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <!-- wm_top970 -->
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <!-- TOP AD -->
   <!-- MAIN  -->
   <!-- CENTER -->
   <div class="row">
    <div class="col-md-8">
     <!-- *** CONTENT A *** -->
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <!-- charts -->
      <script src="https://code.highcharts.com/highcharts.js">
      </script>
      <style type="text/css">
       <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Outbreak
      </div>
      <div style="font-size:13px; color:#999; text-align:center">
       Last updated: March 19, 2020, 18:20 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a href="/coronavirus/coronavirus-cases/">
        Case Graphs
       </a>
       -
       <a href="/coronavirus/coronavirus-death-toll/">
        Death Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="/coronavirus/coronavirus-death-rate/">
        Death Rate
       </a>
       -
       <a href="/coronavirus/coronavirus-incubation-period/">
        Incubation
       </a>
       -
       <a href="/coronavirus/coronavirus-age-sex-demographics/">
        Age
       </a>
       -
       <a href="/coronavirus/coronavirus-symptoms/">
        Symptoms
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         237,125
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         9,835
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         86,675
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <!-- START -->
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
      </style>
      <script>
       $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>
        </div>
        <div class="panel-body" style="text-align:center; height:200px;">
         <div class="panel_flip">
          <div class="panel_front" style="width:100%;height:100%;">
           <div class="number-table-main">
            140,615
           </div>
           <div style="font-size:13.5px">
            Currently Infected Patients
           </div>
           <div style="padding-top:20px;position:relative;text-align:center; ">
            <div style="float:left; text-align:center">
             <span class="number-table" style="color:#8080FF">
              133,437
             </span>
             (
             <strong>
              95
             </strong>
             %)
             <div style="font-size:13px">
              in Mild Condition
             </div>
             <br/>
            </div>
            <div style="float:right; text-align:center">
             <span class="number-table" style="color:red ">
              7,178
             </span>
             (
             <strong>
              5
             </strong>
             %)
             <div style="font-size:13px">
              Serious or Critical
             </div>
             <br/>
            </div>
           </div>
           <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
            Show Graph
           </a>
          </div>
          <div class="panel_back" style="width:100%;height:100%;">
           <div id="total-currently-infected-linear">
           </div>
           <script type="text/javascript">
            Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22","Jan 23","Jan 24","Jan 25","Jan 26","Jan 27","Jan 28","Jan 29","Jan 30","Jan 31","Feb 01","Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,
            data: [563,786,1238,1910,2669,4415,5823,7519,9439,11448,13921,16525,19561,23146,26528,29239,32069,34055,36320,38038,39216,52039,56247,57378,57990,58581,58747,58622,57217,55906,54418,53541,51596,49922,48014,46215,43734,42262,41297,40413,39218,38870,38505,39433,40947,42328,43886,46300,48031,53279,59212,67447,74888,85622,95701,107637,124607]        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
           </script>
           <a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">
            Show Statistics
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      <!-- END -->
      <!-- START -->
      <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Closed Cases
         </span>
        </div>
        <div class="panel-body" style="text-align:center;height:200px;">
         <div class="panel_flip">
          <div class="panel_front" style="width:100%;height:100%;">
           <div class="number-table-main">
            96,510
           </div>
           <div style="font-size:13.5px">
            Cases which had an outcome:
           </div>
           <div style="padding-top:20px ">
            <div style="float:left; text-align:center">
             <span class="number-table" style="color:#8ACA2B">
              86,675
             </span>
             (

In [37]:
for _tr_list in soup.tbody.find_all('tr'):
    _td_list = _tr_list.find_all('td')
    for i, _td in enumerate(_td_list):        
        # Recuperar el nombre del pais cuando es un enlace
        if i%9 == 0:
            _a = _td.find('a')
                # Recuperar el nombre del pais cuando es un enlace
            if _a:
                country_name = _a['href'].split('/')[1]
            else:
                _span = _td.find('span')
                if _span:
                    # Recuperar el nombre del cuando ocupa dos filas
                    country_name = _span.contents[0]
                else:
                     # Recuperar el nombre del pais cuando no es un enlace
                    country_name = _td.contents[0]
            if country_name:
                country_name = country_name.strip()
                if country_name not in list(_dict.keys()):
                    _dict[country_name] = {} 
                _dict[country_name][now] = []
        # Recuperar los datos del pais
        else:
            if len(_td.contents) > 0:
                # Limipiar el dato de cualquier smbolo para poder convertirlo en un valor numrico
                data = _td.contents[0].replace('+','').replace(',','').strip()
                if data:
                    _dict[country_name][now].append(float(data))
                else:
                    _dict[country_name][now].append(0)
            else:
                _dict[country_name][now].append(0)

In [38]:
# https://stackoverflow.com/questions/13575090/construct-pandas-dataframe-from-items-in-nested-dictionary
df = pd.concat({k: pd.DataFrame(v).T for k, v in _dict.items()}, axis=0)
df.columns = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'total_recovered', 'active_cases', 'servious_critical', 'total_cases_1M_pop']
df.index.names = ['country', 'timestamp']
display(df.head())

,,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,servious_critical,total_cases_1M_pop
country,timestamp,,,,,,,,
Afghanistan,2020-03-19 19:23:06,22.0,0.0,0.0,0.0,1.0,21.0,0.0,0.6
Albania,2020-03-19 19:23:06,64.0,5.0,2.0,0.0,0.0,62.0,2.0,22.0
Algeria,2020-03-19 19:23:06,90.0,15.0,9.0,2.0,32.0,49.0,0.0,2.0
Andorra,2020-03-19 19:23:06,53.0,0.0,0.0,0.0,1.0,52.0,0.0,686.0
Antigua and Barbuda,2020-03-19 19:23:06,1.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0

In [39]:
df.loc['spain']

,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,servious_critical,total_cases_1M_pop
timestamp,,,,,,,,
2020-03-19 19:23:06,17395.0,2626.0,803.0,165.0,1107.0,15485.0,800.0,372.0

In [26]:
#df.to_csv('covid-19_2020.csv', index=True)
#df.to_csv('covid-19_2020.csv', mode='a', header=False, index=True)

In [41]:
df = pd.read_csv('covid-19_2020.csv')

In [42]:
df.head()

,country,timestamp,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,servious_critical,total_cases_1M_pop
0,Afghanistan,2020-03-19 19:12:43,22.0,0.0,0.0,0.0,1.0,21.0,0.0,0.6
1,Albania,2020-03-19 19:12:43,64.0,5.0,2.0,0.0,0.0,62.0,2.0,22.0
2,Algeria,2020-03-19 19:12:43,90.0,15.0,9.0,2.0,32.0,49.0,0.0,2.0
3,Andorra,2020-03-19 19:12:43,53.0,0.0,0.0,0.0,1.0,52.0,0.0,686.0
4,Antigua and Barbuda,2020-03-19 19:12:43,1.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0

In [43]:
plt.plot('xlabel', 'ylabel', data=obj)(df['spain'])

NameError: name 'obj' is not defined

In [46]:
# Se muestra el nmero de rboles plantados por tipo y ao

# Se representan grficamente los resultados
# https://seaborn.pydata.org/tutorial/categorical.html
plot = sns.catplot("ANY", kind="count", 
                   hue = "country", palette="ch:.25", height=10, data=df)

ValueError: Could not interpret input 'ANY'